@font-face {
    font-family: "Trap";
    src: url("../fonts/Trap/Trap-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Trap";
    src: url("../fonts/Trap/Trap-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Trap";
    src: url("../fonts/Trap/Trap-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Trap";
    src: url("../fonts/Trap/Trap-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Trap";
    src: url("../fonts/Trap/Trap-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
