.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #111111;
    color: #ffffff;
}

.main-content {
    margin-left: 250px;
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;

    &.collapsed {
        margin-left: 0;
    }
}
